@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Instituto Tecnológico Superior de Monclova<br />
    Carretera 57 Km 4.5<br />
    <abbr title="Phone">P:</abbr>
    866 649 0370
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:contacto@itsmva.edu.mx">contacto@itsmva.edu.mx</a><br />
    <strong>Marketing:</strong> <a href="mailto:informatica@monclova.tecnm.mx">informatica@monclova.tecnm.mx</a>
</address>