@{
    ViewBag.Title = "BD Banco";
}

<div class="jumbotron">
    <h1>BD Banco</h1>
    <p class="lead">Realice operaciones sobre la base de datos Banco, las tablas que la componen en localizan en la parte inferior, parte superior para información de la app</p>
    <p><a href="https://localhost:44380/cliente" class="btn btn-primary btn-lg">Visualizar tabla cliente &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ciudad</h2>
        <p>
            Vea el contenido de la tabla
        </p>
        <p><a class="btn btn-default" href="https://localhost:44380/ciudad">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>estado</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/estado">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>sucursal</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/sucursal">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>tipoProducto</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/tipoProducto">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>producto</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/producto">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>cliente</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/cliente">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>clienteProducto</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/clienteProducto">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>movimiento</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/movimiento">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>comision</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/comision">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>comisionProducto</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/comisionProducto">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>atm</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/atm">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>puesto</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/puesto">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>empleado</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/empleado">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>autorizacion</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/autorizacion">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>domiciliacion</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/domiciliacion">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>servicio</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/servicio">Ver tabla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>prestamo</h2>
        <p>Vea el contenido de la tabla</p>
        <p><a class="btn btn-default" href="https://localhost:44380/prestamo">Ver tabla  &raquo;</a></p>
    </div>
</div>